.author{
    max-width: 1440px;
    display: grid;
    grid-template-columns: fit-content(464px) 1fr;
    grid-template-rows: auto;
    background-color: white;
    gap: 56px;
    padding: 80px 104px;
}

.author__img{
    width: 464px;
    height: 464px;
    border-radius: 1000px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.author__text{
    max-width: 600px;
    width: 100%;
}

.author__title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
}

.author__subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width:1024px){
    .author__img{
        width: 300px;
        height: 300px;
    }
    .author{
        padding: 70px 70px;
    }
}

  @media screen and (max-width:768px){
    .author__img{
        width: 232px;
        height: 232px;
    }
    .author{
        padding: 61px 40px;
    }
}

@media screen and (max-width:580px){
    .author{
        grid-template-columns: fit-content(464px);
        padding: 32px 20px 80px;
    }
    .author__img{
        width: 272px;
        height: 272px;
        margin: 0 auto;
    }
}

@media screen and (max-width:375px){
    .author{
        padding: 32px 16px 80px;
    }
}