.search{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
    background-size: cover;
    
}

.search__title{
    max-width: 608px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: white;
    margin: 160px auto 0;
}

.search__subtitle{
    max-width: 545px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 32px auto 0;
}

.search__form{
    max-width: 608px;
    width: 100%; 
    box-sizing: border-box;
    /* backdrop-filter: blur(8px);  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 64px auto 80px;
    background-color: white;
    border-radius: 100px;
}

.search__input{
    border-radius: 100px;
    border: none;
   
    max-width: 376px;
    
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    background-color: white;
    border-radius: 100px;
    padding: 21px 0;
}

.search__input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}


.search__button{
    background-color: #2F71E5;
    border-radius: 100px;
    border: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 22px;
    max-width: 168px;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .search{
        width: calc(100% - 32px);
        padding: 0 16px;
    }
}

@media screen and (max-width:580px){
    .search__form{
        display: flex;
        flex-direction: column;
        background: transparent;
    }
    .search__input{
        display: flex;
        max-width: 288px;
        width: 100%;
        padding-left: 16px;
        margin: 0 auto 16px;
        box-sizing: border-box;
    }
    .search__button{
        max-width: 288px;
        width: 100%;
        margin: 0 auto;
    }
}