.header{
    
    display: flex;
    flex-direction: row;
    padding: 0 104px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    align-items: center;
    border-bottom: 1px solid white;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.header__title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.header__navigation{
    margin: 0 32px 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.header__nav:nth-last-child(n+2){
    margin-right: 34px;
}

.header__nav_active{
    padding-bottom: 26px;
    border-bottom: 3px solid white;
}

.header__button{
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 12px 12px 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width:768px){
    .header{
        padding: 0 40px;
    }

    .header__title{
        font-size: 20px;
        line-height: 24px;
    }

    .header__navigation{
        font-size: 16px;
        margin-right: 16px;
    }

    .header__button{
        font-size: 16px;
        line-height: 24px;
        padding: 8px 12px;
    }

}