.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 104px;
}

.footer__copyright{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
}

.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0 41px 0 auto;
    padding: 0;
}

.footer__link{  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer__link:nth-last-child(n+2){
    margin-right: 40px;
}

.footer__networks {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.footer__network {
    width: 20px;
    height: 20px;
}

.footer__network_git {
    background: url(../../images/git.png);
    margin-right: 28px;
}

.footer__network_facebook {
    background: url(../../images/facebook.png);
}

@media screen and (max-width:1024px){
    .footer{
        padding: 30px 70px;
    }
    .footer__links{
        margin-right: 26px;
    }
}

@media screen and (max-width:768px){
    .footer{
        padding: 24px 40px 18px;
    }
    .footer__link:nth-last-child(n+2){
        margin-right: 20px;
    }
}

@media screen and (max-width:580px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 15px;
        padding: 20px 20px 30px;
        align-items: start;
        
    }
    .footer__copyright{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .footer__links{
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 0;
    }
    .footer__link{
        font-size: 18px;
        line-height: 48px;
    }

    .footer__link:nth-last-child(n+2){
        margin-right: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:375px){
    .footer{
        padding: 20px 16px 30px;
    }
}