.news-card-list{
    background: #F5F6F7;
    padding: 0 104px 80px;
    
}

.news-card-list__title{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin: 0;
    padding-top: 80px;
}

.cards-lists{
    max-width: 1232px;
    margin: 65px auto 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px,1fr));
    grid-gap: 16px;
    list-style-type: none;
    padding: 0;
}

.news-card-list__button{
    display: block;
    max-width: 288px;
    width: 100%;
    margin: 64px auto 0;
    border-radius: 80px;
    background:white;
    color: #1A1B22;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 22px;
    border: none;
}

@media screen and (max-width:1024px){
    .news-card-list{
        padding: 0 70px 80px; 
    }
}

@media screen and (max-width:768px){
    .news-card-list{
        padding: 0 40px 40px;
    }
    .news-card-list__button{
        margin-top: 22px;
    }
    .news-card-list__title{
        padding-top: 40px;
    }
    .cards-lists{
        margin-top: 32px;
    }
}

@media screen and (max-width:580px){
    .news-card-list{
        padding: 0 20px 32px;
    }
    .news-card-list__button{
        margin-top: 15px;
    }
}

@media screen and (max-width:375px){
    .news-card-list{
        padding: 0 16px;
    }
    .news-card-list__title{
        padding-top: 32px;
    }
    .cards-lists{
        margin-top: 24px;
    }
}